<nav
  [ngClass]="{
    content:
      userService.roleMatch(['ADMIN']) || userService.roleMatch(['DEVELOPER'])
  }"
>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <div class="">
    <button
      *ngIf="isLoggedIn()"
      mat-button
      [matMenuTriggerFor]="menu"
      id="profile"
    >
      <i
        *ngIf="userService.roleMatch(['ADMIN'])"
        class="fas fa-user-shield"
      ></i>
      <i
        *ngIf="userService.roleMatch(['DEVELOPER'])"
        class="fa fa-user-circle"
      ></i>

      <span *ngIf="isLoggedIn()">{{ username }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <button
          *ngIf="isLoggedIn()"
          type="button"
          id="logout"
          class="btn"
          (click)="logout()"
        >
          Déconnexion
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </button>
    </mat-menu>
  </div>
</nav>
