.container {
  margin-top: 5%;
  margin-bottom: 6%;
  margin-right: 10%;
}

.container form > * {
  margin: 12px 0;
}

button {
  width: 10%;
  margin: 0 auto;
  display: block;
}
h3 {
  padding: 25px;
  background-color: #e6e2ddcb;
  margin-bottom: 0;
}
