<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-navbar-admin
        *ngIf="userService.roleMatch(['ADMIN'])"
      ></app-navbar-admin>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h3>Statistiques des Tickets</h3>
        </div>
        <div class="card-body">
          <div class="charts">
            <p>Nombre de tickets par EDS</p>
            <canvas id="myChart" #myChart></canvas>
            <button (click)="download()" class="btn btn-info">Imprimer</button>
          </div>
          <div class="charts">
            <p>Nombre de tickets résolus par développeur</p>
            <canvas *ngIf="message == ''" id="ChartDev" #ChartDev></canvas>
            <h4>{{ message }}</h4>
            <button
              type="button"
              (click)="downloadChart()"
              class="btn btn-info"
            >
              Imprimer
            </button>
          </div>
          <div class="charts">
            <p>Nombre de tickets en cours de traitement</p>
            <canvas *ngIf="message == ''" id="ChartDev2" #ChartDev2></canvas>
            <h4>{{ message }}</h4>
            <button
              type="button"
              (click)="downloadChart4()"
              class="btn btn-info"
            >
              Imprimer
            </button>
          </div>
          <div class="charts">
            <p>Nombre de tickets par mois</p>
            <canvas id="ChartSemester" #ChartSemester></canvas>
            <button
              type="button"
              (click)="downloadChart3()"
              class="btn btn-info"
            >
              Imprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
