#myChart {
  box-sizing: border-box;
  height: 500px;
  width: 500px;
}
button {
  margin-left: 30px;
  margin-bottom: 15px;
  color: white;
}
#ChartDev {
  box-sizing: border-box;
  height: 500px;
  width: 500px;
}
#ChartDev2 {
  box-sizing: border-box;
  height: 500px;
  width: 500px;
}
#ChartSemester {
  box-sizing: border-box;
  height: 500px;
  width: 500px;
}
.charts {
  display: inline-block;
  border-bottom: 1px solid black;
  margin-top: 3%;
}
h3 {
  padding: 10px;
  text-align: center;
}
.card-header {
  background-color: #d3cfcab4;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  padding-top: 20px;
}
.form-control {
  width: 30%;
  margin-left: 205px;
}
.container {
  margin-top: 10px;
}
h4 {
  color: rgb(189, 0, 0);
}
p {
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.col-md-10 {
  flex: 0 0 auto;
  width: 95%;
  margin-left: 13%;
}
