<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-navbar-admin
        *ngIf="userService.roleMatch(['ADMIN'])"
      ></app-navbar-admin>
    </div>
    <div class="col-md-9">
      <mat-card>
        <h3>Modifier un compte:</h3>
        <form (ngSubmit)="onUpdate()">
          <div class="row">
            <div class="col">
              <label>Nom:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nom"
                id="nom"
                [(ngModel)]="dev.nom"
                name="nom"
              />
            </div>
            <div class="col">
              <label>Prénom:</label>

              <input
                type="text"
                class="form-control"
                placeholder="Prénom"
                id="prenom"
                [(ngModel)]="dev.prenom"
                name="prenom"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Tele:</label>

              <input
                type="tel"
                class="form-control"
                placeholder="N° Téléphone"
                id="tele"
                [(ngModel)]="dev.tele"
                name="tele"
              />
            </div>
            <div class="col">
              <label>Username:</label>

              <input
                type="text"
                class="form-control"
                placeholder="Username"
                id="username"
                [(ngModel)]="dev.username"
                name="username"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Email:</label>

              <input
                type="email"
                class="form-control"
                placeholder="Email"
                id="email"
                [(ngModel)]="dev.email"
                name="email"
              />
            </div>
            <div class="col">
              <label>CUID:</label>

              <input
                type="text"
                class="form-control"
                placeholder="CUID"
                id="cuid"
                [(ngModel)]="dev.matrDev"
                name="matrDev"
              />
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-dark">Modifier</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
