.container {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 70%;
}

.container form > * {
  margin: 12px 0;
}

button {
  width: 25%;
  margin: 0 auto;
  display: block;
}
h3 {
  padding: 25px;
  background-color: #e6e2ddcb;
  margin-bottom: 0;
}
