button {
  width: 35%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5%;
  margin-top: 3%;
}
h3 {
  padding: 20px;
}
.col-md-9 {
  flex: 0 0 auto;
  width: 55%;
  margin-left: 7%;
}
.row {
  padding: 2%;
}
.form-control {
  width: 100%;
}
h6 {
  margin-left: 20px;
}
.card-header {
  background-color: #c5c5c5cb;
}
#sub-header {
  color: #6e6b6bcb;
  margin-left: 15px;
  margin-top: 15px;
}
