<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-navbar-admin
        *ngIf="userService.roleMatch(['ADMIN'])"
      ></app-navbar-admin>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h3>Nouveaux Tickets</h3>
        </div>
        <div class="card-body">
          <table datatable class="table table-hover">
            <thead class="table-active">
              <tr>
                <td>ID <i class="fa fa-sort" aria-hidden="true"></i></td>
                <td>
                  Application <i class="fa fa-sort" aria-hidden="true"></i>
                </td>
                <td>Client <i class="fa fa-sort" aria-hidden="true"></i></td>
                <td>
                  Description <i class="fa fa-sort" aria-hidden="true"></i>
                </td>
                <td>Criticité <i class="fa fa-sort" aria-hidden="true"></i></td>
                <td>
                  Date de création <i class="fa fa-sort" aria-hidden="true"></i>
                </td>
                <td>Status</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of tickets
                    | paginate : { itemsPerPage: pageSize, currentPage: page }
                "
              >
                <td>{{ item.id_ticket }}</td>
                <td>
                  <a
                    href="/admin"
                    matTooltip="Nom de l'application:{{
                      item.application.nom
                    }} EDS:{{ item.application.eds.description }} Description:{{
                      item.application.description
                    }}"
                  >
                    {{ item.application.nom }}
                  </a>
                </td>
                <td>{{ item.client.nom }} {{ item.client.prenom }}</td>
                <td>{{ item.description }}</td>
                <td
                  [class.pending-badge]="item.criticite === 'CRITIQUE'"
                  [class.resolved-badge]="item.criticite === 'NON_URGENT'"
                  [class.open-badge]="item.criticite === 'NORMAL'"
                  [class.canceled-badge]="item.criticite === 'URGENT'"
                >
                  {{ item.criticite }}
                </td>
                <td>{{ item.date_creation | date : "yyyy-MM-dd HH:mm:ss" }}</td>
                <td
                  [class.pending-badge]="item.status === 'EN_ATTENTE'"
                  [class.resolved-badge]="item.status === 'RÉSOLU'"
                  [class.open-badge]="item.status === 'OUVERT'"
                  [class.canceled-badge]="item.status === 'ANNULÉ'"
                >
                  {{ item.status }}
                </td>
                <td>
                  <a
                    class="btn btn-outline-primary"
                    (click)="assign(item.id_ticket)"
                    >Affecter</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-container">
            <pagination-controls
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
